.streambutton {
    height: 36px;
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;
    letter-spacing: 1px;
    font-size: .9rem;
    border-radius: 15px;
    border: 1px solid #ff69b4; /* Pink border */
    background-image: linear-gradient(to bottom, #000000, rgba(31, 44, 75, 0.8)); /* Dark with a hint of black */
    color: #ff69b4; /* Pink text */
    margin-right: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.streambutton:hover {
    background-color: #28A745; /* Green on hover */
    color: white; /* Change text color to white */
    border-color: #28A745; /* Match border color to hover background */
}
